/node_modules/
/lib/
/test/
custom-elements.json
# top level source
# only generated for size check
kana-control.js
kana-control.js.map
kana-control.d.ts
kana-control.d.ts.mapkana-control-logic.js
kana-control-logic.js.map
kana-control-logic.d.ts
kana-control-logic.d.ts.map
reports/
.stryker-tmp/
